DEVICE_ID=my-device-id
WIFI1SSID=wifi-ssid
WIFI1PASS=wifi-pass
WIFI2SSID=other-wifi-ssid
WIFI2PASS=other-wifi-pass
APSSID=ap-ssid-??????
APPASS=ap-pass
MQTTSERVER=mqtt-host:1883
WEBHOOKURL=http://example.local/webhook
UDPLOGADDR=192.168.1.100:9966
